.mat-btn{
	display: inline-block;
	margin-left: 20px;
}

.param{
	padding: 12px 20px;
	.state{
		display: flex;
		justify-content: center;
		align-items: center;
		margin-bottom: 8px;
		.label{
			text-align: left;
			font-size: 16px;
			color: #808080;
		}
		.value{
			width: 90px;
			flex: 1;
			margin-left: 10px;
        }
    }
    .block{
        display: flex;
        background: #f7f7f7;
        justify-content: center;
        align-items: center;
        .range{
            flex: 1;
            display: block;
        }
        .setting{
            padding: 4px;
        }
    }
    .config{
        display: flex;
        color: #e0e0e0;
        margin-top: 8px;
        .row{
            flex: 1;
            .value{
                width: 100%;
            }
        }
    }
}
