.texture-view{
    display: flex;
    .block{
        display: inline-block;
        width: 102px;
        height: 132px;
        margin: 10px;
        text-align: center;
        .name{
            text-align: center;
            margin-top: 8px;
        }
        .img{
			width: 100px;
			height: 100px;
			border: solid 1px #aeaeae;
			background: #808080;
			background-size: cover;
			background-position: center;
		}
    }
}
