.left-side {
    position: fixed;
    width: 200px;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    left: 0;
    top: 0;
    z-index: 3;
    background: #ffffff;
    box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.25);
}

.type {
    padding: 10px;
    width: 160px;
    margin: auto;
}

.img {
    width: 100%;
    margin-bottom: 10px;
}

.tip {
    font-size: 12px;
    text-align: center;
    margin-bottom: 40px;
    color: #999999;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
    white-space: nowrap;
}