.stage {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    .canvas {
        width: 100%;
        height: 100%;
    }
}
.btns{
    position: absolute;
    left: 240px;
    top: 20px;
    z-index: 1;
}
.info{
    position: absolute;
    width: 100%;
    left: 0;
    top: 20px;
    text-align: center;
    color: #1294eb;
}
.pop{
    z-index: 3;
}
.file{
    display: none;
}