.mat-btn{
	display: inline-block;
	margin-left: 20px;
}

.param{
	padding: 12px 20px;
	.state{
		display: flex;
		justify-content: center;
		align-items: center;
		margin-bottom: 8px;
		.label{
			text-align: left;
			// font-size: 16px;
			color: #808080;
		}
		.value{
			width: 90px;
			flex: 1;
			margin-left: 10px;
        }
    }
}
